/* 
pc-ground为pc端的背景适配
mobile-frame为手机背景框
*/
/* 移动端优先*/
.pc-background {
  /* 使内容铺满整个手机屏幕 */
  width: 100%;
  /* 强制显示高度等于屏幕高度 */
  height: 100vh;
  /* 在移动端时背景为白色或透明 */
  background-color: #e2f0f7c5;
  /* 禁止外层滚动 */
  overflow: hidden;
  /* 使手机屏幕居中 */
  display: flex;
  /*左右居中 */
  justify-content: center;
  /*垂直居中 */
  align-items: center;
}

/* 
手机壳模式
*/
.mobile-frame {
  /* 露出背景 */
  width: 90%;
  height: 90%;
  /* 
  布局与定位 
  */
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  /* 禁止滚动 */
  overflow: hidden;
  /* 过渡动画 */
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);

  /* 
  像素风手机壳 
  */
  border: 6px solid #000000;
  border-radius: 20px;
  box-shadow: 12px 12px 0px rgba(0, 0, 0, 0.5);
}

.mobile-frame.mode-full-screen {
  /* 
  占满屏幕 
  */
  width: 100%;
  height: 100%;
  background-color: #fff;
  /* 
  布局与定位 
  */
  position: relative;
  display: flex;
  flex-direction: column;
  /* 禁止滚动 */
  overflow: hidden;
  /* 过渡动画 */
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);

  /* 像素风手机壳 */
  border: none;
  border-radius: 0;
  /* 硬阴影消失*/
  box-shadow: none
}

/* 手机内容屏幕 */
.mobile-screen {
  /* 
  优化部分
  */
  /* 看起来尺寸不变，但会触发GPU加速，优化弹窗功能 */
  transform: translateZ(0);
   /* 
    滚动权限
     */
  overflow: hidden;
  /* 
    布局与定位
    */
  display: block;
  /* 防止子元素撑破父容器 */
  position: relative;
  /*
  尺寸:填满mobile-frame
  */
  width: 100%;
  height: 100%;
  background-color: #fff;
}
/* 
状态栏布局调整
 */
.mobile-status {
  width: 100%;
  /* 禁止被压缩 */
  flex-shrink: 0;
  z-index: 100;
  background-color: #fff
}

/* 
状态栏的推挤动画实现
*/
.slide-bar-enter-active,
.slide-bar-leave-active {
  transition: all 1s cubic-bezier(0.25, 0.8, 0.5, 1);
  /* 大于实际高度即可 */
  max-height: 40px;
  opacity: 1;
  /* 动画过程中隐藏溢出 */
  overflow: hidden;
}

.slide-bar-enter-from,
.slide-bar-leave-to {
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.5, 1);
  max-height: 0;
  opacity: 0;
}

/* 
电脑端适配 
当屏幕宽度大于600px时才执行下面代码
*/
@media screen and (min-width:480px) {

  /* 
  内层变成固定的手机尺寸 
  手机壳模式
  */
  .mobile-frame {
    /* 固定宽高度比例，仿照手机尺寸（其实并不 XD） */
    width: 50vh;
    height: 85vh;
  }

  /*
  全屏模式
  */
  .mobile-frame.mode-full-screen {
    /* 固定宽高度比例，仿照手机尺寸（其实并不 XD） */
    width: 50vh;
    height: 85vh;

    /* 去掉手机壳特征 */
    border: 2px solid #000;
    border-radius: 0px;

  }

}