/*
主页页面屏幕
*/
.home-screen {
  /* 
  优化部分
  */
  /* 看起来尺寸不变，但会触发GPU加速，优化弹窗功能 */
  transform: translateZ(0);
  /*
  布局与尺寸
  */
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100vh;
  box-sizing: border-box;
  position: relative;
  /* 溢出margin防止出滚动条 */
  margin: 0;
  padding: 20px 16px;

  /*
  背景图片优化
  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* 禁止滑动 */
  overflow: hidden;

  /*
  图标处理：像素化，不模糊
  */
  image-rendering: pixelated;
  /* 关掉浏览器默认的点击高亮效果 */
  -webkit-tap-highlight-color: transparent;
}

/*
拖拽布局
*/
.draggable-screen{
  /* grid布局*/
  display: grid;
  /* 列设置：固定4列，每列等宽 */
  grid-template-columns: repeat(4, 1fr);
  /* 行设置：固定6行 */
  grid-template-rows: repeat(6, 1fr);
  /* 让子元素之间自动留出均等距离 */
  gap: 20px 10px;
  /* 先行后列 */
  grid-auto-flow: row dense;
}

/*
默认文字图标样式
*/
.default-text-icon {
  user-select: none;
  color:#311B92;
  font-size:clamp(8px, 2.5vw, 13px);
}
/*
裹在应用图标和组件的框
*/
.grid-cell{
   /*
  定位与布局
  */
  display: flex;
  /* 居中处理 */
  /* 变为上下居中 */
  justify-content: center;
  /* 变为左右居中 */
  align-items: center;
  /*
  确保格子铺满
  */
  width:100%;
  height: 100%;
  position: relative;

  /*
  默认占格大小
  */
  grid-column: span 1;
  grid-row: span 1;
   
}

/*
包裹应用图标的框
*/
.app-item {
  /*
  定位与布局
  */
  display: flex;
  flex-direction: column;
  /* 居中处理 */
  /* 变为上下居中 */
  justify-content: center;
  /* 变为左右居中 */
  align-items: center;
  /* 固定宽度 */
  width: 100%;
  height: 100%;

  /* 指针放置在上变成点击模式 */
  cursor: pointer;
  transition: transform 0.1s;
 /* 
  给文字留出一点保险空间
  如果屏幕特别小，padding 可以防止图标顶到格子的边缘 
  */
  padding: 4px 0; 
  box-sizing: border-box;
}
/*
点击应用图标的效果
*/
.app-item:active {
  /* 关掉浏览器默认的点击高亮效果 */
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.9);
}

/*
应用图标的样式
*/
.app-icon-wrapper {
  width: 60%;
  /* 强制保持1：1正方形比例 */
  aspect-ratio: 1/1;
  height: auto;
  background: #fff;
  border: 3px solid #000;
  /* 像素描边风格 */
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
  /* 硬阴影 */
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.app-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: pixelated;
}

/*
app底下的名字样式
*/
.app-name {
  /* 字体大小*/
  font-size: clamp(8px, 2.5vw, 13px);       
  /* 字体颜色*/
  color: #311B92;       
  /* 文字居中 */ 
  text-align: center;    
  line-height: 1.4;

  /* 处理长文件名：超出显示省略号 */
  /* 宽度占满格子 */
  width: 100%;           
  /* 左右留一点缝隙 */
  padding: 0 2px;        
  /* 不换行 */
  white-space: nowrap;   
  /* 超出隐藏 */
  overflow: hidden;      
  /* 超出显示省略号... */
  text-overflow: ellipsis; 

  /*
  调整文字位置
  */
  padding-top: 6px;
  box-sizing: border-box;
}

/*
组件逻辑处理相关
*/
.grid-cell .widget-item{
  width: 100%;
  height: 100%;
}
.widget.iten{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/*
组件尺寸控制
*/
/* 中号：占2列（2x1） */
.grid-cell.size-medium{
  grid-column: span 2;
}
/* 大号：占2列 x 2行 (2x2) */
.grid-cell.size-large {
  grid-column: span 2;
  grid-row: span 2;
}

/* 横幅：占满4列 (4x1) */
.grid-cell.size-banner {
  grid-column: span 4;
}

/* 巨型：占满4列 x 2行 (4x2)  */
.grid-cell.size-hero {
  grid-column: span 4;
  grid-row: span 2;
}
