/*
页面设置样式
*/
.setting-page
{
    /* 固定设置页面，防止因内容过多而内容溢出 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    /* 实现效果：设置页面会撑满父容器 */
    /* 
    确认设置页面布局
    布局：弹性盒flex布局
    元素排列：垂直排列
    */
    display: flex;
    flex-direction:column;
    /* 禁止整个页面滑动，只需要设置内容部分进行滑动即可 */
    overflow: hidden;
}

.setting-content{
    flex:1;/* 导航栏所占布局为0，flex:1即让剩下内容占满设置页面的布局 */
    min-height: 0; 
    /* 允许内容部分滚动 */
    overflow-y: auto;
    /* 使手机屏幕居中 */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 禁止用户选择文字 */
    user-select: none;
}

/* 

  针对手机框的滚动条美化：设置成透明，滚动条依旧存在
  WebKit内核浏览器：Chrome/Edge/Safari
  不兼容Firefox/IE
*/
/* 滚动条样式 */
.setting-content::-webkit-scrollbar {
  width:6px;
}
/* 滚动条轨道样式：设置成透明 */
.setting-content::-webkit-scrollbar-track{
  background: transparent;
}
/* 滚动条滑块样式:设置成透明 */
.setting-content::-webkit-scrollbar-thumb {
  background-color: #fff /* 颜色：黑色 */
}

/* 
设置选项单元格样式
风格：像素风
*/
.pixel-cell{

  /* 基础样式 */
  width:95%;

  justify-content: center;
  background-color: #fff;
  border: 2px solid #000;

  box-shadow: 4px 4px 0 #000; /* 模拟按键厚度 */
  margin-bottom:10px; /* 防止硬阴影挡住下面的选项 */ 

  transition: none;/* 关闭元素的过渡动画效果 */

  /* 移动端优化 */
  touch-action: manipulation;/* 优先响应点击事件 */
  -webkit-tap-highlight-color: transparent;/* 去掉安卓点击时的蓝色高亮背景 */
  /* 禁止用户选择文字 */
    user-select: none;

}

/* 模拟选项单元格按下状态 */
.pixel-cell:active{
  box-shadow: 0 0 0 #000;/* 清除阴影，模拟被按下 */
  transform: translate(1px, 1px);/* 元素整体向右下移动 */
}

/*
弹窗选项样式设置
*/
.sub-content{
  user-select: none;
}